.form_bg{
    min-height: 100vh;
    width: 100%;
    /* background-color: purple; */
}
@media (min-width: 992px){
    .form_bg{
        padding-top: 100px;
    }
}
.form_container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* background-color: pink; */
}
@media (min-width: 992px){
    .form_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}
.red{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}
.blue{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
}


/*TEXT*/
.form_text_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 992px){
    .form_text_container{
        justify-content: flex-start;
    }
}
.paragraph{
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    margin-top: 28px;
    max-width: 540px;
    font-family: Arial, Helvetica, sans-serif
}

/*INPUTS*/
.form{
    max-width: 492px;
}
.inputs_container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}
.form_input{
    width: 100%;
    max-width: 492px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    margin-bottom: 40px;
    /* color: #767676; */
    color: #fff;
}
.select_input{
    color: #767676;
}
.option{
    background-color: #222222;
}
.option__false{
    color: #888;
}
.option__true{
    color: #fff;
}

.textarea{
    resize: none;
    height: 100px;
}
.form_input:focus{
    border-bottom: 1px solid #fff;
}
.terms_cond{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.accept_cond{
    display: inline;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}
.link_cond{
    display: inline;
    text-decoration: underline;
}
.checkbox{
    margin: 10px;
}
.form_input_submit{
    font-size: 24px;
    width: 80px;
    margin-top: 91px;
    margin-left: auto;
}
.form_input_submit:hover{
    cursor: pointer;
    border-bottom: 1px solid #fff;
}


/*TEST*/

