.gallery_bg{
    position: relative;
    height: 450px;
    background-color: #D6F379;
    width: 100%;
    overflow: hidden;
}

.gallery_container{
    position: absolute;
    top: -300px;
    left: -100px;
    display: flex;
    flex-wrap: nowrap;
    transform: rotate(-20deg);
}
@media (min-width: 600px){
    .gallery_container{
        top: -500px;
        left: 0;
    }
}
